<!DOCTYPE html>
<html>
  <head>
    <title>PostIdeas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav>
  <%= link_to 'New Idea', new_idea_path%>
  </nav>
    <%= yield %>
  </body>
</html>
